<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/02HW20220126%EA%B9%80%EC%A0%95%EA%B4%8009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#051
movie_rank=['닥터 스트레인지','스플릿','럭키']

In [2]:
#052
movie_rank=['닥터 스트레인지','스플릿','럭키']
movie_rank.append('배트맨')

In [3]:
#053
movie_rank=['닥터 스트레인지','스플릿','럭키','배트맨']
movie_rank.insert(1,'슈퍼맨')

In [4]:
#054
movie_rank=['닥터 스트레인지','슈퍼맨','스플릿','럭키','배트맨']
movie_rank.pop(3)

'럭키'

In [5]:
#055
movie_rank=['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]

In [6]:
#056
lang1=['C','C++','JAVA']
lang2=['Python','Go','C#']
langs=lang1+lang2

In [7]:
#057
nums=[1,2,3,4,5,6,7]
print(max(nums))
print(min(nums))

7
1

In [8]:
#058
nums=[1,2,3,4,5]
print(sum(nums))

15

In [9]:
#059
cook=['피자','김밥','만두','양념치킨','족발','피자','김치만두','쫄면','쏘세지','라면','팥빙수','김치전']
print(len(cook))

12

In [10]:
#060
nums=[1,2,3,4,5]
average=sum(nums)/len(nums)
print(average)

3.0

In [1]:
#121
word=input('영어알파벳을 입력하세요.>>>')
print(word.upper()) if word.islower()==True else print(word.lower())

영어알파벳을 입력하세요.>>>b
B

In [31]:
#122
score=int(input('학점을 입력하세요.>>>'))
grade=''

if score>80:
  grade='A'
elif score>60:
  grade='B'
elif score>40:
  grade='C'
elif score>20:
  grade='D'
else:
  grade='F'

print(f'grade is {grade}')

학점을 입력하세요.>>>83
grade is A

In [67]:
#123
i_data=list(input('입력 : '))
amount=0

if '달러' in i_data:
  for i in range(len(i_data)-3): 
    amount+=int(i_data[-(i+4)])*10**i
  amount=amount*1167
elif '엔' in i_data:
  for i in range(len(i_data)-2): 
    amount+=int(i_data[-(i+3)])*10**i
  amount=amount*1.096
elif '유로' in i_data:
  for i in range(len(i_data)-3):
    amount+=int(i_data[-(i+4)])*10**i
  amount=amount*1268
else: # 위안 171
  for i in range(len(i_data)-3): 
    amount+=int(i_data[-(i+4)])*10**i
  amount=amount*171

print(amount,end='원')

입력 : 100 달러
17100원

In [30]:
#124
n1=int(input('첫번째 숫자:'))
n2=int(input('두번째 숫자:'))
n3=int(input('세번째 숫자:'))
print(max([n1,n2,n3]))

첫번째 숫자:10
두번째 숫자:9
세번째 숫자:20
20

In [29]:
#125
num=input('휴대번호를 입력하세요.>>>')
company=""

if num[:3]=='011':
  company='SKT'
elif num[:3]=='016':
  company='KT'
elif num[:3]=='019':
  company='LGU'
else:
  company='알수없음'

print(f'당신은 {company} 사용자입니다.')

휴대번호를 입력하세요.>>>011-345-1922
당신은 SKT 사용자입니다.

In [28]:
#126
p_num=input('우편번호 : ')
gang=[0,1,2] # 강북구
do=[3,4,5] # 도봉구
no=[6,7,8,9] # 노원구

if p_num[2] in gang:
  print('강북구')
elif p_num[2] in do:
  print('도봉구')
else:
  print('노원구')

우편번호 : 01400
노원구

In [4]:
#127
num=input('주민등록번호 : ')
s_code=['00','01','02','03','04','05','06','07','08']

if num[-6:-4] in s_code:
  print('서울 입니다.')
else:
  print('서울이 아닙니다.')

주민등록번호 :  821010-1635210
서울이 아닙니다.

In [12]:
#129
num=list(input('주민등록번호 : '))
code=[2,3,4,5,6,7,0,8,9,2,3,4,5]
n=0
c=0
resultData=[]

del num[6]

for i in range(len(code)):
  n=int(num[i])
  c=code[i]
  resultData.append(n*c)

if 11-sum(resultData)%11 == int(num[12]) :
  print('유효한 주민등록번호입니다.')
else:
  print('유효하지 않은 주민등록번호입니다.')

주민등록번호 : 821010-1635210
유효하지 않은 주민등록번호입니다.

In [27]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

f_range=int(btc['max_price'])-int(btc['min_price']) # f_range는 변동폭
if int(btc['max_price']) < int(btc['opening_price'])-f_range:
  print('상승장')
else:
  print('하락장')

하락장