<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/04HW20220207%EA%B9%80%EC%A0%95%EA%B4%8009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 211 o
안녕
Hi

In [ ]:
# 212 o
7
15

In [ ]:
# 213 o
함수라는 함수에 매개변수가 존재하나 함수 사용시에 input값을 넣지 않았기 때문

In [ ]:
# 214 o
a라는 매개변수에는 str가 b라는 매개변수에는 int가 들어가서
함수에서 str + int 가 되었기 때문
str과 int는 + 연산을 할 수 없기 때문

In [ ]:
# 215 o
def print_with_smile(val) :
  print(val,':D')

In [ ]:
# 216 o
def print_with_smile(val) :
  print(val,':D')

print_with_smile('안녕하세요')

안녕하세요 :D

In [ ]:
# 217 x
def print_upper_price(val) :
  val = val + val * 0.3 # print(val*1.3) 더 간략한 방식
  print(val)

In [ ]:
# 218 o
def print_sum(a, b) :
  print(a + b)

7

In [ ]:
# 219 o
def print_arithmetic_operation(a, b) :
  print(f'{a} + {b} =',a+b)
  print(f'{a} - {b} =',a-b)
  print(f'{a} * {b} =',a*b)
  print(f'{a} / {b} =',a/b)

print_arithmetic_operation(3, 4)

In [ ]:
# 220 *
def print_max(a, b, c) :
  if a >= b and a >= c :
    print(a)
  elif a < b and b >= c :
    print(b)
  else :
    print(c)

In [ ]:
# 220 better
def print_max(a,b,c) :
  max_val = 0
  if a > max_val :
    max_val = a
  if b > max_val :
    max_val = b
  if c > max_val :
    max_val = c
  print(max_val)

In [ ]:
# 221 *
def print_reverse(val) :
  for i in range(1,len(val)+1) :
    print(val[-i],end='')

print_reverse('python')

In [5]:
# 221 better
def print_reverse(string) :
  print(string[::-1]) # 리스트를 역순으로 뽑아내는 방법, start와 end를 생략하고 step에 -1이 포인트!!

print_reverse('python')

nohtyp

In [ ]:
# 222 o
def print_score(val) :
  print(sum(val)/len(val))

print_score([1,2,3])

2.0

In [ ]:
# 223 o
def print_even(val) :
  for i in val :
    if i % 2 == 0 :
      print(i)

print_even([1,3,2,10,12,11,15])

2
10
12

In [ ]:
# 224 o
def print_keys(val) :
  print(val.keys())

print_keys({'이름':'김말똥','나이':30,'성별':0})

dict_keys(['이름', '나이', '성별'])

In [ ]:
# 225 o
my_dict = {"10/26" : [100, 130, 100, 100], "10/27" : [10, 12, 10, 11]}

def print_value_by_key(ohlc, date) :
  print(ohlc[date])

print_value_by_key(my_dict, '10/26')

[100, 130, 100, 100]

In [ ]:
# 226 *
def print_5xn(string) :
  for i in range(len(string)) :
    if (i+1) % 5 == 0 :
      print(string[i])
    else :
      print(string[i],end='')

print_5xn('아이엠어보이유알어걸')

In [ ]:
# 226 better
def print_5xn(line):
 chunk_num = int(len(line) / 5)
 for x in range(chunk_num + 1) :
  print(line[x * 5: x * 5 + 5])

print_5xn('아이엠어보이유알어걸')

In [ ]:
# 227 o
def print_mxn(string, n) :
  for i in range(len(string)) :
    if (i+1) % n == 0 :
      print(string[i])
    else :
      print(string[i],end='')

print_mxn('아이엠어보이유알어걸',3)

아이엠
어보이
유알어
걸

In [13]:
# 228 x
def calc_monthly_salary(annual_salary) :
  print(int(annual_salary//12))

calc_monthly_salary(12000000.5)

1000000

In [ ]:
# 229 o
왼쪽 : 100
오른쪽 : 200

In [ ]:
# 230 o
왼쪽 : 200
오른쪽 : 100

왼쪽: 200
오른쪽: 100