<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/04HW20220207%EA%B9%80%EC%A0%95%EA%B4%8009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 211
안녕
Hi

In [ ]:
# 212
7
15

In [ ]:
# 213
함수라는 함수에 매개변수가 존재하나 함수 사용시에 input값을 넣지 않았기 때문

In [ ]:
# 214
a라는 매개변수에는 str가 b라는 매개변수에는 int가 들어가서
함수에서 str + int 가 되었기 때문
str과 int는 + 연산을 할 수 없기 때문

In [ ]:
# 215
def print_with_smile(val) :
  print(val,':D')

In [2]:
# 216
def print_with_smile(val) :
  print(val,':D')

print_with_smile('안녕하세요')

안녕하세요 :D

In [ ]:
# 217
def print_upper_price(val) :
  val = val + val * 0.3
  print(val)

In [7]:
# 218
def print_sum(a, b) :
  print(a + b)

7

In [ ]:
# 219
def print_arithmetic_operation(a, b) :
  print(f'{a} + {b} =',a+b)
  print(f'{a} - {b} =',a-b)
  print(f'{a} * {b} =',a*b)
  print(f'{a} / {b} =',a/b)

print_arithmetic_operation(3, 4)

In [ ]:
# 220
def print_max(a, b, c) :
  if a >= b and a >= c :
    print(a)
  elif a < b and b >= c :
    print(b)
  else :
    print(c)

In [23]:
# 221
def print_reverse(val) :
  for i in range(1,len(val)+1) :
    print(val[-i],end='')

print_reverse('python')

nohtyp

In [24]:
# 222
def print_score(val) :
  print(sum(val)/len(val))

print_score([1,2,3])

2.0

In [25]:
# 223
def print_even(val) :
  for i in val :
    if i % 2 == 0 :
      print(i)

print_even([1,3,2,10,12,11,15])

2
10
12