<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/05HW20220208%EA%B9%80%EC%A0%95%EA%B4%8009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 231 x
4

In [ ]:
오류가 뜬다
함수 내부에서 사용한 변수를 밖에서 사용할 수 없다.

In [ ]:
#232 o
def make_url(string) :
  print(f'www.{string}.com')

make_url('naver')

www.naver.com

In [ ]:
# 233 o
def make_list(string) :
  return list(string)
  
make_list('abcd')

['a', 'b', 'c', 'd']

In [ ]:
# 234 o
def pickup_even(myList) :
  result = []
  for i in myList :
    if i % 2 ==0 :
      result.append(i)
  return result

pickup_even([3,4,5,6,7,8])

In [ ]:
# 235 better
def convert_int(stringNum):
  result = ''
  for i in stringNum.split(',') :
    result += i 
  return int(result)

convert_int("1,234,567")

In [4]:
def convert_int(string) :
  return int(string.replace(',', ''))

convert_int("1,234,567")

1234567

In [ ]:
# 236 o
22

In [ ]:
# 237 o
22

In [ ]:
# 238 o
140

In [ ]:
# 239 o
16

In [ ]:
# 240 o
28

In [ ]:
# 291 x
f = open("C:/Users/thp02/Desktop/매수종목_1.txt", 'wt', encoding="utf-8")
f.write('005930\n')
f.write('005380\n')
f.write('035420')
f.close()

In [ ]:
# 292 x
f = open("C:/Users/thp02/Desktop/매수종목_2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [ ]:
# 293 x
import csv
f = open("C:/Users/thp02/Desktop/매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [ ]:
# 294 x
f = open("C:/Users/thp02/Desktop/매수종목_1.txt", encoding="utf-8")
lines = f.readlines() # python list
codes = []
for line in lines:
 code = line.strip() #'\n'
 codes.append(code)
print(codes)
f.close()

In [ ]:
# 295 x
f = open("C:/Users/thp02/Desktop/매수종목 2.txt", encoding="utf-8")
lines = f.readlines()
data = {}
for line in lines:
 line = line.strip() # '\n' 제거
 k, v = line.split()
 #print(k, v)
 data[k] = v
print(data)
f.close()

In [ ]:
# 296 o
per = ["10.31", "", "8.00"]

for i in per:
  try :
    print(float(i))
  except :
    print(0)

In [ ]:
# 297 o
per = ["10.31", "", "8.00"]
after_per = []

for i in per:
  try :
    after_per.append(float(i))
  except :
    print(0)

print(after_per)

0
[10.31, 8.0]

In [ ]:
# 298 o
try :
  5/0
except ZeroDivisionError :
  print('0으로 나눌수 없습니다')

0으로 나눌수 없습니다

In [ ]:
# 299 o
data = [1, 2, 3]

try :
  for i in range(5) :
    print(data[i])
except IndexError as e :
  print(e)

1
2
3
list index out of range

In [ ]:
# 300 o
per = ["10.31", "", "8.00"]

for i in per:
  try :
    print(float(i))
  except :
    print(0)
  else :
    print('Good')
  finally :
    print('Done')

10.31
Good
Done
0
Done
8.0
Good
Done