<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/05HW20220208%EA%B9%80%EC%A0%95%EA%B4%8009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 231
4

In [ ]:
#232
???

In [8]:
# 233
def make_list(string) :
  return list(string)
  
make_list('abcd')

['a', 'b', 'c', 'd']

In [ ]:
# 234
def pickup_even(myList) :
  result = []
  for i in myList :
    if i % 2 ==0 :
      result.append(i)
  return result

pickup_even([3,4,5,6,7,8])

In [ ]:
# 235
def convert_int(stringNum):
  return int(stringNum)

conver_int("1,234,567")

In [ ]:
# 236
22

In [ ]:
# 237
22

In [ ]:
# 238
140

In [1]:
# 239
16

In [ ]:
# 240
28

In [ ]:
# 291

In [ ]:
# 292

In [ ]:
# 293

In [ ]:
# 294

In [ ]:
# 295

In [11]:
# 296
per = ["10.31", "", "8.00"]

for i in per:
  try :
    print(float(i))
  except :
    print(0)

10.31
0
8.0

In [12]:
# 297
per = ["10.31", "", "8.00"]
after_per = []

for i in per:
  try :
    after_per.append(float(i))
  except :
    print(0)

print(after_per)

0
[10.31, 8.0]

In [ ]:
# 298

In [ ]:
# 299

In [23]:
# 300
per = ["10.31", "", "8.00"]

for i in per:
  try :
    print(float(i))
  except :
    print(0)
  else :
    print('Good')
  finally :
    print('Done')

10.31
Good
Done
0
Done
8.0
Good
Done