<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/05HW20220208%EA%B9%80%EC%A0%95%EA%B4%8009.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 231
4

In [25]:
#232
def make_url(string) :
  print(f'www.{string}.com')

make_url('naver')

www.naver.com

In [8]:
# 233
def make_list(string) :
  return list(string)
  
make_list('abcd')

['a', 'b', 'c', 'd']

In [ ]:
# 234
def pickup_even(myList) :
  result = []
  for i in myList :
    if i % 2 ==0 :
      result.append(i)
  return result

pickup_even([3,4,5,6,7,8])

In [34]:
# 235
def convert_int(stringNum):
  result = ''
  for i in stringNum.split(',') :
    result += i 
  return int(result)

convert_int("1,234,567")

1234567

In [ ]:
# 236
22

In [ ]:
# 237
22

In [ ]:
# 238
140

In [1]:
# 239
16

In [ ]:
# 240
28

In [ ]:
# 291
f = open("C:/Users/thp02/Desktop/매수종목_1.txt", 'w')
print('005930')
print('005380')
print('035420')
f.close()

In [ ]:
# 292
f = open("C:/Users/thp02/Desktop/매수종목_2.txt", 'w')
print('005930 삼성전자')
print('005380 현대차')
print('035420 NAVER')
f.close()

In [ ]:
# 293

In [ ]:
# 294

In [ ]:
# 295

In [11]:
# 296
per = ["10.31", "", "8.00"]

for i in per:
  try :
    print(float(i))
  except :
    print(0)

10.31
0
8.0

In [12]:
# 297
per = ["10.31", "", "8.00"]
after_per = []

for i in per:
  try :
    after_per.append(float(i))
  except :
    print(0)

print(after_per)

0
[10.31, 8.0]

In [6]:
# 298
try :
  5/0
except ZeroDivisionError :
  print('0으로 나눌수 없습니다')

0으로 나눌수 없습니다

In [9]:
# 299
data = [1, 2, 3]

try :
  for i in range(5) :
    print(data[i])
except IndexError as e :
  print(e)

1
2
3
list index out of range

In [23]:
# 300
per = ["10.31", "", "8.00"]

for i in per:
  try :
    print(float(i))
  except :
    print(0)
  else :
    print('Good')
  finally :
    print('Done')

10.31
Good
Done
0
Done
8.0
Good
Done