<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/Crawling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install requests # 모듈 설치
import requests # 웹페이지 연결 모듈

In [13]:
# pip install bs4
from bs4 import BeautifulSoup as bs # 읽어온 웹페이지를 분석하기 쉽게 정제
# -> BeautifulSoup에 첫단어가 대문자임에 주의

In [8]:
import  pandas # 데이터 분석 모듈

In [ ]:
html = requests. get('https://music.bugs.co.kr/chart') # 웹페이지(벅스 차트) 코드 읽어오기
# html = requests.get('https://melon.com/chart/index.htm') # melon 차트는 아무것도 안나옴
# html = requests.get('https://www.genie.co.kr/chart/top200') # genie 차트는 'The security policy of the connection request is blocked.'메시지와 함께 막힘
# print(html.text)

In [ ]:
soup = bs(html.text) # BeautifulSoup를 통해 데이터를 분석하기 용이하게 정제한다.
# print(soup)

In [20]:
len(soup.select('tr')) # tr태그를 모두 추출

104

In [21]:
len(soup.select('tbody > tr')) # tbody태그 안에 있는 tr태그를 모두 추출

103

In [22]:
len(soup.select('table > tbody > tr')) # table태그 안테 tbody태그 안에 tr태그를 모두 추출

103

In [23]:
len(soup.select('table.byChart > tbody > tr')) # byChart라는 클래스명의 table 안의 tbody 안의 tr을 모두 추출

100

In [ ]:
songs = soup.select('table.byChart > tbody > tr') 
songs[0]  # 100개의 tr들중 첫번째

In [29]:
len(songs[0].select('p.artist > a'))

1

In [31]:
singer = songs[0].select('p.artist > a')
print(singer)

[<a href="https://music.bugs.co.kr/artist/80026437?wl_ref=list_tr_10_chart" onclick="
" title="태연 (TAEYEON)">태연 (TAEYEON)</a>]

In [33]:
singer = songs[0].select('p.artist > a')[0].text # 문자만 뽑아냄
print(singer)

태연 (TAEYEON)

In [36]:
songs[0].select('p.title > a')[0].text

'INVU'

In [ ]:
song_data = []
rank = 1

for song in songs :
  singer = song.select('p.artist > a')[0].text
  title = song.select('p.title > a')[0].text 
  song_data.append([rank, title, singer])
  rank += 1

song_data

In [48]:
import pandas as pd

df = pd.DataFrame(song_data, columns = ['순위', '타이틀', '가수'])
df

     순위                        타이틀                        가수
0     1                       INVU              태연 (TAEYEON)
1     2          그래서 그래 (Feat. 윤하)          에픽하이 (EPIK HIGH)
2     3         그런 밤 (Some Nights)              태연 (TAEYEON)
3     4                    Dilemma              Apink (에이핑크)
4     5         Set Myself On Fire              태연 (TAEYEON)
..  ...                        ...                       ...
95   96  어떻게 이별까지 사랑하겠어, 널 사랑하는 거지                  AKMU(악뮤)
96   97                    이등병의 DM  임플란티드 키드 (Implanted Kid)
97   98                  Tiny Riot                 Sam Ryder
98   99                       언덕나무                       이승윤
99  100                         어른                    Sondia

[100 rows x 3 columns]

In [49]:
df.to_excel('bugs.xlsx', index=False)