<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/day1_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
'''
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
'''

"""
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
Doc string
"""

# 보통 삼중 따옴표 주석은
# 여러줄을 주석으로
# 사용할 때 사용한다.

# 주석 붙이는 위치
print("Hello World") # 보통 행의 우측 또는 위에 주석을 붙인다.
print('Hello World')
# print("Hello Wordl') -> " "와 ' '의 교차 사용은 안된다. 열고 닫을 때가 같아야함.

Hello World
Hello World

In [11]:
####################
# 변수 variable
####################
score = 200
print(score)

score = 300
print(score)

200
1
2

In [ ]:
a=1
A=2
print(a)
print(A)

In [12]:
1a=5
print(1a)

SyntaxError: ignored

In [ ]:
a=20
b=1500

student_avg = 20
math_sum=1500
# 위에 것보다는 아래 것을 권장한다.

In [13]:
name='Alice'
age=25
address='''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend=None
height=168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

Alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [23]:
################
# 기본 자료형 type
################

a=int(1.9)
print(a)
#  1.9는 실수 이지만 int()로 정수화 하여 변수a에는 1이 담긴다.

b=int(True)
print(b)
b2=int(False)
print(b2)
# True를 정수화하면 1, False를 정수화하면 0이다.

c=100
c2='100'
print(c)
print(type(c))
print(c2)
print(type(c2))
print(c==c2)
# 100과 '100'은 다르다. 100은 숫자 100을 '100'은 문자 100을 의미한다.
c3=int(c2)
print(type(c3))
print(c==c3)

1
1
0
100
<class 'int'>
100
<class 'str'>
False
<class 'int'>
True

In [27]:
# 실수 float

a=float(1)
print(a)

b=float(True)
print(b)

c=float('3.14')
print(c)

d=float('100')
print(d)

1.0
1.0
3.14
100.0

In [ ]:
a=100 # int a = 100; (java에서 입력할 시는 자료형도 정해줘야함)

In [38]:
#  bool 논리 True of False
a=bool(0)
print(a)

b=bool()
print(b)

c=bool([])
print(c) #머라도 존재하면 True

False
False
False

In [41]:
################
# 문자열 string
################

a='대한민국'
a="대한민국"

b=str(100)
print(b)
print(type(b))

c=str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [45]:
# 문자열 인덱싱

# 파이썬은 0에서 시작한다.

s='Hello'
print(s[4])

print(s[-1])
print(s[-5]==s[0])

ss="990211-1005432"
print(ss[7])

o
o
True
1

In [48]:
# 슬라이싱
ss="990211-1005432"
print(ss[0:2]) # 0번째부터 2번째 미만까지...[start:stop:step]
# step은 생략가능
print(ss[0:10:2])
print(ss[0:10] )# step 생략할 경우 step=1

99
901-0
990211-100

In [52]:
# print
# " "와 ' ' 출력
print('Hello World')
print("Hello 'World'")
print('Hello \'World\'')
print('Hello \"World\"')

Hello World
Hello 'World'
Hello "World"

In [69]:
# 줄바꿈
print('Hello \n"World"')
print('이름 \n전화')
#간격 띄우기
print('이름\t연락처')
print('홍길동\t010-2020-2903')

# 띄어쓰기
print('재미있는','파이썬')

# 글 뒤에 올 말을 주거나 줄바꿈을 하고 싶지 않을때
print('평점', end=':')
print('5점')

# sep : 사이사이에 넣고 싶은 문자가 있을 때
print('국어', '영어', '수학')
print('국어', '영어', '수학', sep='/')
print('국어', '영어', '수학', sep=',')
print('국어', '영어', '수학', sep='\n')
print('국어\n영어\n수학')

Hello
"World"
이름
전화
이름	연락처
홍길동	010-2020-2903
재미있는 파이썬
평점:5점
국어 영어 수학
국어/영어/수학
국어,영어,수학
국어
영어
수학
국어
영어
수학

In [88]:
# %연산자

print(10)
print('%d'%10) # %d decimal 정수
print('%f'%3.14) # %f float 실수
print('%s'%'학생') # %s string 문자열

print('%d을 입력하세요'%10) # %d decimal 정수
print('%s을 입력하세요'%10) # %d decimal 정수
print('원주율은 %f입니다.'%3.14) # %f float 실수
print('원주율은 %s입니다.'%3.14) # %f float 실수
print('저는 %s입니다'%'학생') # %s string 문자열

std="대학생"
print('저는 %s입니다.'%std)
print('저는',std,'입니다.')

print("%d"%1)
print("%5d"%1) #자리수를 확보할 수 있다. 자리수는 총 자리수
print("%-5d"%1)

print('%f'%3.14)
print('%5.1f'%3.14) #.뒤에 오는 수만큼 소수점자리를 가진다. 반올림된다.
print('%-5.1f'%3.14) # 파이썬은 들여쓰기에 민감하다

print(type('%f'%3.14)) # %연산자를 쓰게되면 문자로 바뀐다

10
10
3.140000
학생
10을 입력하세요
10을 입력하세요
원주율은 3.140000입니다.
원주율은 3.14입니다.
저는 학생입니다
저는 대학생입니다.
저는 대학생 입니다.
1
    1
1
3.140000
  3.1
3.1
<class 'str'>

In [91]:
# 예제
name='kai'
print('내 이름은 %s입니다.'%name)

내 이름은 kai입니다.

In [99]:
height=185.5
print('내 키는 %.1f입니다.'%height)
print('내 키는 %.1s입니다.'%height) # 수는 s를 사용할 수 있지만 문자는 f나 d를 사용할 수 없다.
print('내 키는 %s이고 이름은 %s입니다.'%(height,name))

내 키는 185.5입니다.
내 키는 1입니다.
내 키는 185.5이고 이름은 kai입니다.

In [100]:
# foramt() 매서드

zipcode='06236'
print('우편번호 : %s'%zipcode)
print('우편번호 : {}'.format(zipcode))
print('내 키는 {}이고 이름은 {}입니다.'.format(height,name))

우편번호 : 06236
우편번호 : 06236
내 키는 185.5이고 이름은kai입니다.

In [103]:
print('My name is {}. I\'m {} years old.'.format('James', 25))
print('My name is {1}. I\'m {0} years old.'.format(25, 'James'))
print('My name is {name}. I\'m {age} years old.'.format(age=25, name='James'))

My name is James. I'm 25 years old.
My name is James. I'm 25 years old.
My name is James. I'm 25 years old.

In [105]:
# f-strings
# 파이썬 3.6 이후 부터 사용 가능

# 가독성이 좋다
who='you'
how='happy'
print(f'{who} make me {how}') 

# 연산이 가능하다
age=25
print(f'내년에는 {age+1}입니다.')

you make me happy
내년에는 26입니다.

In [113]:
################
# 입력 input() 
################

n=input()
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은',n,'입니다.')

n=input('당신의 나이를 입력하세요')
print(f'당신의 나이는 {n}살 입니다.')
print('당신의 나이는',n,'살 입니다.')

나이
당신이 입력한 내용은 나이 입니다.
당신이 입력한 내용은 나이 입니다.
당신의 나이를 입력하세요20
당신의 나이는 20살 입니다.
당신의 나이는 20 살 입니다.

In [120]:
# quiz
# 사용자로부터 키보드로 이름과 나이를 입력받아서 한 줄로 출력하세요
# 이름을 입력하세요?
# 나이를 입력하세요?

# 당신의 이름은?이고 나이는?입니다.
name=input('이름을 입력하세요.')
age=input('나이를 입력하세요')

print(f'당신의 이름은 {name}이고 나이는 {age}입니다.')
print('당신의 이름은 {}이고 나이는 {}입니다.'.format(name,age))
print('당신의 이름은',name,'이고 나이는',age,'입니다.')
print('당신의 이름은 %s이고 나이는 %s입니다.'%(name,age))

# input으로 데이터를 받게되면 데이터가 타입이 str이된다.
print(type(age))

이름을 입력하세요.김정관
27
당신의 이름은 김정관이고 나이는 27입니다.
당신의 이름은 김정관이고 나이는 27입니다.
당신의 이름은 김정관 이고 나이는 27 입니다.
당신의 이름은 김정관이고 나이는 27입니다.
<class 'str'>

In [135]:
# 50000원짜리 물건을 할부로 구입하고 매달 내는 금액을 계산하는 프로그램을 작성해보자.
# 할부 개월은 입력을 받아서 계산한다.

# 할부 개월 입력 : 
# ? 개월 동안 매달 내는 금액은 ? 입니다.

month=int(input('할부 개월 입력 : '))
price=round((50000//month),2)

print(f'{month}개월 동안 매달 내는 금액은 {price}입니다.')
print('{}개월 동안 매달 내는 금액은 {}입니다.'.format(month,price))
print(month,'개월 동안 매달 내는 금액은',price,'입니다.')
print('%s개월 동안 매달 내는 금액은 %s입니다.'%(month,price))

할부 개월 입력 : 3
3개월 동안 매달 내는 금액은 16666입니다.
3개월 동안 매달 내는 금액은 16666입니다.
3 개월 동안 매달 내는 금액은 16666 입니다.
3개월 동안 매달 내는 금액은 16666입니다.

In [137]:
# 사용자로부터 2개의 실수를 입력받아 합계를 구하는 프로그램을 작성하세요

float1=float(input('실수 1 : '))
float2=float(input('실수 2 : '))
sum=float1+float2

print(f'{float1}과 {float2}의 합계는 {sum}이다.')

실수 1 : 3.5
실수 2 : 3.7
3.5과 3.7의 합계는 7.2이다.