<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/day11_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 001 Ask for the user's first name and display the ouput message
# (output) Hello [first Name]
# (input) First Name :

fname = input('First Name : ')
print('Hello', fname)

First Name : KIm
Hello KIm

In [3]:
# 002 Ask for the user's first name and than as their surname and display the ouput message
# (output) Hello [First Name] [Surname]
# (input) 'Please enter your surname :
# (input) 'Please enter your firstname :

fname = input('First Name : ')
sname = input('Sur Name : ')
print('Hello', fname, sname)

First Name : Kim
Sur Name : Junggwan
Hello Kim Junggwan

In [6]:
# 003 Ask the user to enter tow numbers. Add them together and display the answer as
# (Output) The total is [answer]
# (Input) 'Please enter your first number'
# (Input) 'Please enter your second nubmer'

fnum = int(input('First number : '))
snum = int(input('Second nuber : '))
print('Total is', fnum+snum)

First number : 10
Second nuber : 20
Total is 30

In [7]:
before = int(input('Enter the number of slices of pizza you started with :'))
after = int(input('How many slices have you eaten?'))
print('The answer is', before-after)

Enter the number of slices of pizza you started with :6
How many slices have you eaten?3
The answer is 3

In [11]:
days = int(input('Enter the number of days : '))
print(f'In {days} days, there are...', end='\n\t')
print(f'{days*12} hours', end='\n\t')
print(f'{days*12*60} minutes', end='\n\t')
print(f'{days*12*60*60} seconds')

Enter the number of days : 6
In 6 days, there are...
	72 hours
	4320 minutes
	259200 seconds

In [19]:
while True :
  larger = int(input('Enter the number over 100 :'))
  smaller = int(input('Enter the number under 10 :'))

  if larger < 100 or smaller > 10 :
    print('다시 입력해주세요')
  else :
    print(f'{smaller} goes into {larger} answer {larger//smaller}')
    break

Enter the number over 100 :10
Enter the number under 10 :10
다시 입력해주세요
Enter the number over 100 :60
Enter the number under 10 :3
다시 입력해주세요
Enter the number over 100 :150
Enter the number under 10 :150
다시 입력해주세요
Enter the number over 100 :150
Enter the number under 10 :4
4 goes into 150 answer 37