<a href="https://colab.research.google.com/github/clouououd/ai/blob/main/JumpToPython_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**filter**

filter(functino, iterableType)

입력한 반복가능한자료형(list, tuple, set)의 요소가 입력한 함수에 입력되었을 때 반환값이 참인것만 묶어서 return한다.

return값을 이용하려면 list, tuple, set으로 강제 변형시켜줘야한다.

In [ ]:
list(filter(lambda x : x > 0, [1, -3, 2, 0 ,-5, 6]))

[1, 2, 6]

**isinstance**

isinstance(object, class)

입력받은 object가 class의 object이면 True를 그렇지않다면 False를 return해준다.

In [ ]:
class example_class :
  pass

example_object = example_class()

example_object_x = 'x'

# example_object는 example_class의 object이므로 True
isinstance(example_object, example_class)

# example_object_x는 example_class의 object가 아니므로 False
isinstance(example_object_x, example_class)

**map**

map(function, iterableType)

입력받은 반복가능한자료형을 function함수에 넣고 그 결과를 묶어서 return한다.

return값을 이용하려면 list, tuple, set으로 강제 변형시켜줘야한다.

In [7]:
def two_times(x) :
  return x*2

list(map(two_times, [1, 2, 3, 4]))

# dict도 사용가능하지만, key값이 입력한 function으로 들어간다.
# 또한 return값을 dict로 변환할 수는 없다
list(map(two_times, {1:'a' , 2:'b', 3:'c', 4:'d'}))

# lambda를 이용
list(map(lambda x : x*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

**round**

round(number, ndigits)

숫자(number)를 입력받아 반올림한 값을 return해준다.

ndigits는 반올림하고하여 표시하고 싶은 소수점의 자릿수이다.

소수점위에서 반올림하는 경우는 음수를 사용한다

ndigits는 생략가능하고 생략시에는 소수점아래가 없도록 반올림한다.

In [14]:
round(4.36, 1)
# -> 4.4

# ndigits를 생략했을 시

round(4.36)
# -> 4

# ndigits가 음수인 경우

round(123495738, -3)
# -> 123496000

123496000

**sorted**

sorted(iterableType)

iterable자료를 정렬후 list로 바꿔 return해준다.

list.sort()와의 차이점은 sorted(iterableType)는 결과값을 retrun 해준다는 것에 있다.

In [18]:
sorted([3, 1, 2])

sorted(['c', 'b', 'a'])

# 매개변수에 tuple을 넣어도 결과값은 list
sorted((3, 1, 2))

# 매개변수에 set을 넣어도 결과값은 list
sorted({3, 2, 1})

[1, 2, 3]